@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");

@font-face {
    src: url(../fonts/Yekan.ttf);
    font-family: 'Yekan';
}

body {
    direction: rtl;
    text-align: right;
    font-family: 'Yekan', 'Roboto';
    margin: 0;
}

button {
    font-family: inherit;
}

button:disabled {
    cursor: not-allowed !important;
}

button > i {
    margin-left: 5px;
}

pre {
    text-align: left;
    direction: ltr;
}

.spinner {
    border: 4px solid #f0f0f0;
    border-radius: 50%;
    border-top: 4px solid #000;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    -webkit-animation: spin 1s linear infinite; /* Safari */
    animation: spin 1s linear infinite;
    display: inline-block;
}

.spinner.light {
    border-color: #ccc;
    border-top-color: #fff;
}

.btn-block {
    display: block;
    width: 100%;
    text-align: center;
    justify-content: center;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #366165;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #366165;
}


.text-primary {
    color: #366165 !important;
}

.btn.btn-outline-primary {
    border-color: #366165;
    color: #366165;
}

.btn.btn-outline-primary:hover {
    color: #fff;
    background-color: #366165;
}

.tile {
    background-color: #fcfcfc;
    border-radius: 15px;
    box-shadow: 4px 4px 8px #ccc;
    padding: 30px 20px;
    margin-bottom: 30px;
}
